.category_img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

#category_tiles_container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  height: fit-content;
}

.category_tile {
  height: 400px;
  width: 400px;
  object-fit: contain;
}

li {
  display: flex;
  flex-direction: column;
}

#get_in_the_air {
  padding-left: 8px;
  margin-top: 30px;
}

.category_tile_link {
  width: fit-content;
  height: fit-content;
}

#get_in_the_air {
  margin-bottom: 20px;
}
