
#footer_container {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 100%;
}

#footer_content_container {
    margin: 20px;
}

#footer_logo_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
