#create_listing_component_wrapper {
    background-image: url('https://www.aircharteradvisors.com/wp-content/uploads/2019/03/turboprop-aircraft-charter.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

#form_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#create_listing_form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    background-color: whitesmoke;
}

#create_listing_slideshow {

}

#create_listing_banner {
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    margin: 20px;
    color: beige;
    width: 700px;
    border-radius: 20px;
}

.errors {
    color: red !important;
}
