#profile_page_wrapper {
    display: flex;
    flex-direction: row;
}

.listing_container {
    height: fit-content;
    width: 620px;
    border: 2px solid #a1a1a1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;


}

.listing_container > * {
    padding: 5px;
    text-align: left;
}

.delete_listing_button, .update_listing_button {
    border-radius: 5px;
    margin: 5px;
}

#user_bookings_component_wrapper, #user_listings_component_wrapper {
    margin: 6px;
    display: flex;
    flex-direction: column;
}
