/* TODO Add site wide styles */

@font-face {
  font-family: "AirbnbCerealMedium";
  src: local("AirbnbCerealMedium"),
    url(./fonts/AirbnbCerealMedium.woff) format("woff");
}

html {
    padding: 0px !important;
    margin: 0px !important;
}

body {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  height: 1000px;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
  font-family: "AirbnbCerealMedium";
  color: blue;
  text-decoration: none;
  margin: 0px;
}

li {
  list-style: none;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url('https://res.cloudinary.com/dan-purcell-2021/image/upload/v1634537534/shipshape-project/sky_and_clouds_ms66pz.jpg');
  background-size: cover; */
}

.main_content {
  max-width: 1200px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.form_input {
  width: 100%;
  margin: 0px;
  border-radius: 8px;
  height: 35px;
  margin: 1px;
  border-style: 1px gray;
}

.form_input:focus {

  box-shadow: 5px 5px 12px rgb(0, 0, 0);
}

textarea {
    height: 60px !important;
}

#hosting_learn_more_button {
  border-radius: 5px;
  width: 60%;
}

form {
  width: 100%;
}
