.profile-dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 45px;
    text-decoration: none;
}

#nav_container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100%;
}

i {
    padding: 10px;
    border-radius: 50px;
    background-color: cornflowerblue;
}

#nav_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#shipshape_nav_logo {
    font-size: 30px;
}

#nav_right_button_group {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav_right_buttons {
    margin-right: 25px;
}
