#profile-dropdown-parent {
    position: relative;
}

#profile-dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-decoration: none;
    background-color: #22223B;
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
    top: 0px;
    right: -70%;
    z-index: 20;
}

#profile-dropdown ul li, #profile-dropdown ul a  {
    color: white !important;
}

#profile-dropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav_container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100%;
    background-color: #22223B;
    color: white !important;
    padding: 0px;
    margin: 0px;
    height: 7rem;
}

i {
    padding: 10px;
    border-radius: 50px;
    background-color: cornflowerblue;
    color: white !important;
}

#nav_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white !important;
}

#shipshape_nav_logo {
    font-size: 30px;
    color: white !important;
}

#nav_right_button_group {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white !important;
}

.nav_right_buttons {
    margin-right: 25px;
    color: white !important;
}

#profileButton_container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
}

ul {
    padding: 0px !important;
}
